$Black : #0D0D0d;
$White : #F2F2F2;
$Yellow : #F2CC0F;
$Green : #8CBF3F;
$Purple : #9453A6;
$Beige : #f7e8d4;



@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&display=swap');


$oswald: 'Oswald', sans-serif;
$festivefont :  'Pattaya', sans-serif;