.backround-pic-media {
  background-image: url(Media/homeBg.jpg);
  height: fit-content;
  padding-bottom: 100px;
  background-size: cover;
  // object-fit: contain;
  background-position: center;
  z-index: -1;
  // position: relative;
}


.galleryWraper {
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  max-width: 1000px;
  height: 650px;
  // aspect-ratio: 2/3;
  padding-bottom: 20px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(100, 43, 115, 1) 0%, rgba(4, 0, 4, 1) 90%);
  // background-image: linear-gradient( 179.2deg,  rgba(255,221,24,1) 16.1%, rgba(241,102,36,1) 86.8% );
  border: 3.5px solid black;
  text-align: center;
  border-radius: 10px;
}




.buttonSection {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 2px solid white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #ffa750;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffa750 24px), repeating-linear-gradient(#e400ff55, #e400ff);
}

.btn.btn-dark.btn-lg {
  border: 1px white solid;
  border-radius: 5px;
}


.embeddedVideo {
  margin: 0px;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 2px solid white;
}

.embeddedVideo:hover {
  border: 4px solid white;
  transition-duration: 100ms;
}

.video-section {
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 30px;
  border: 5px black solid;
  background-color: #ffca2e;
  background-image: linear-gradient(167deg, #ffca2e 28%, #38d271 100%);

}

.video-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.gallery-pic {
  object-fit: cover;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}

.gallery-pic:hover {
  border: 3px solid white;
  transition-duration: 100ms;
}


.main-gallery-pic:hover {
  border: 5px solid white;
  transition-duration: 100ms;
}

.main-gallery-pic {
  width: 800px;
  height: 400px;
  background-color: black;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 16px;
  cursor: pointer;
}


.galleryButton {
  width: 50px;
  height: 30px;
}

.picCounter {
  margin-top: 8px;
  color: black;
  font-size: 30px;
  font-family: $festivefont;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.backround-gradient {
  background: rgb(165, 117, 55);
  background: linear-gradient(180deg, rgba(165, 117, 55, 1) 14%, rgba(33, 209, 146, 1) 94%);
  width: auto;  
  height: 600px;
  display: block;
  position: relative;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
}

.lightbox img {
  max-width: 90%;
  max-height: 90;
}

.mediaHeader {
  position: relative;
  display: block;
  text-align: center;
  height: fit-content;
  border-radius: 30px;
  padding: 10px;
  background-image: radial-gradient(circle 489px at 49.3% 46.6%, rgba(255, 214, 126, 1) 0%, rgba(253, 200, 0, 1) 100.2%);
  margin: auto;
  top: 50px;
  margin-bottom: 100px;
  width: 75%;
  border: 2px black solid;
  left: 0px;
}

@media screen and (max-width: 992px) {
  .galleryWraper {
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    max-width: 500px;
    height: 650px;
    background-color: beige;
    border: 3px double black;
    text-align: center;
    border-radius: 10px;
  }

  #galleryPic6 {
    display: none;
  }

  #galleryPic5 {
    display: none;
  }

  .buttonSection {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;

  }

  .gallery-pic {
    object-fit: fill;
  }

  .main-gallery-pic {
    width: 412px;
    height: 412px;
    object-fit: contain;
    margin-bottom: 16px;
  }

  .galleryButton {
    width: 50px;
    height: 30px;
  }

  .picCounter {
    margin-top: 16px;
  }

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
  }

  .lightbox img {
    max-width: 90%;
    max-height: 90;
  }
}

@media screen and (max-width: 600px) {
  .galleryWraper {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: 2px;
    height: fit-content;
    padding-bottom: 25px;
    border: 2px solid white;
  }
  .video-section{
    padding-bottom: 50px;
  }

  .main-gallery-pic {
    width: 312px;
    height: 312px;
    object-fit: contain;
    margin-bottom: 16px;
  }

  .gallery-pic {
    width: 80px;
    height: 100px;
    object-fit: cover;
  }

  .video-header {
    padding-top: 15px;
    text-align: center;
    margin: 0px;
  }

  .embeddedVideo {
    margin-top: 25px;
    margin-bottom: 0px;
    width: 100%;
    height: 200px;
    border: none;
  }


  h2 {
    font-size: 26px;
  }

  .hiddenVid {
    display: none;
  }

  .mediaHeader {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 100px;
    // left: 500px;
  }

  .mediaHeader h1 {
    font-size: 22pt;
  }

  .mediaHeader h2 {
    font-size: 20px;
  }

  .mediaHeader h4 {
    font-size: 20px;
  }
}