@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;




.clockwarper {
    position: relative;
    // transition-duration: 0.3s;
    border-radius: 15px;
    top: 50px;
    left: 55vw;
    backdrop-filter: blur(10px);
    padding: 5px;
    overflow: hidden;
    width: 600px;
    height: fit-content;
    rotate: 5deg;
    border: solid 5px silver;
    overflow: hidden;
    animation: enterFromBottom 2s 0s 1 ease-in-out;


}

@keyframes enterFromBottom {
    0% {
        top: 180px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        // width: 600px;
        top: 50px;
    }
}





.timerbanner {
    font-family: $festivefont;
    text-align: center;
    font-size: 35pt;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 800;
    letter-spacing: 5px;
    color: rgb(53, 98, 181);
    backdrop-filter: blur(50px);
    // border: 2px solid grey;
    border-radius: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#timer {
    color: $White;
    text-align: center;
    text-transform: uppercase;
    // font-family: $festivefont;
    font-size: .8em;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.days,
.hours,
.minutes,
.seconds {
    display: inline-block;
    padding: 10px;
    width: 125px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bolder;

}

.days {
    background: $Yellow;
}

.hours {
    background: $Green;
}

.minutes {
    background-color: $Purple;
}

.seconds {
    background: $Yellow;


}

.numbers {
    font-family: $big;
    color: white;
    font-size: 2rem;
}

@media (max-width:1400px) {
    .clockwarper {
        width: 450px;
        padding: 1px;
        height: 210px;
    }

    .timerbanner {
        font-size: 30px;
        
    }

    .days,
    .hours,
    .minutes,
    .seconds {
        width: 85px;
        font-size: 12px;
        letter-spacing: 2px;
    }
}



@media (max-width: 1100px) {

    .clockwarper {
        position: relative;
        top: 0;
        left: 0;
        rotate: 0deg;
        padding: auto;
        margin: auto;
        height: fit-content;
        width: auto;
        border-radius: 0px;
        padding: 0.4vh;
        margin: 0px;
        padding-bottom: 25px;
        overflow: hidden;
        animation: none;
    }

    .numbers {
        font-size: 1.5em;
    }

    #timer {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .timerbanner {
        font-family: $festivefont;
        font-size: 30pt;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}


@media (max-width: 600px) {


    .clockwarper {
        position: relative;
        top: 0;
        left: 0;
        rotate: 0deg;
        height: 130px;
        width: auto;
        border-radius: 0px;
        padding: 3px;
        margin: 0px;
        border: solid 3px silver;
        overflow: hidden;
    }

    .timerbanner {
        font-size: 20px;
        letter-spacing: 5px;
        font-family: $oswald;
    }

    .numbers {
        font-size: 1px;
    }

    #timer {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .days,
    .hours,
    .minutes,
    .seconds {
        padding: 2px;
        width: 70px;
        height: 70px;
        font-size: 10px;
        letter-spacing: normal;
        font-weight: bold;
        font-family: sans-serif;


    }

    .numbers {
        font-size: 32px;
        height: 50px;
    }
}