.navbar-logo img {
    height: 60px;
}

.navbar{
    height: 60px;
}


.navbar.navbar-expand-lg {
    background-color: #FDF8E5;
    background-size: contain; 
    opacity: 1;

    

}




@media (max-width: 768px) {

    .navbar-logo {
        display: none;
        opacity: 0;
    }

    
.navbar{
    height: 60px;
}



}

@media (max-width: 989px) {

    .navbar-logo {
        display: none;
        opacity: 0;
    }

    
.navbar{
    
    background-color: #FDF8E5;
    height: 60px;
    z-index: 3;
}

// .navbar-expand{
//     background-color: ;
// }

.navbar-container{
    background-color: #FDF8E5;
}
}